<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./includes/head.ejs') %>
</head>
<body>

    <%- include('./includes/nav.ejs') %>
    <h1>Working website <%= 'Ayomide'%> </h1>

    <h1>Working website <%let color = 'red 🤣' %> <%= color %></h1>
    
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti quasi reprehenderit 
        quae mollitia assumenda earum ea! Quas illo,
        tempore laboriosam culpa blanditiis, fuga rem omnis voluptates nulla architecto at ducimus.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, aliquam error dicta a quod, consectetur sequi iste assumenda distinctio ducimus explicabo quos! Accusamus error sunt rem quod quae omnis necessitatibus!
        Alias quam error deserunt quaerat voluptas omnis et sint blanditiis dicta illo quo, molestias atque rerum. Ab perspiciatis deserunt natus ullam voluptatem eligendi similique porro dolor nostrum qui. Sint, aliquam.
        Odit molestiae quasi modi magnam, atque, nesciunt optio quis earum molestias eveniet cum laborum illo unde, et a repellendus pariatur necessitatibus. Expedita ipsam praesentium cum? Porro cum possimus doloribus nemo!
        Veritatis asperiores aliquam officiis quaerat beatae id vitae dolore at dignissimos alias rem dicta quia quisquam esse nam soluta, inventore est? Ab assumenda blanditiis, eaque molestiae a quia harum earum!
        Atque eius porro beatae expedita tempore nam commodi voluptate, dolor exercitationem placeat labore eligendi, tenetur inventore maiores illo unde voluptatum fuga facilis optio repudiandae veniam. Eveniet unde ipsum vel exercitationem?
        Numquam quis minima rerum quia et minus eligendi ab quisquam voluptas dolores. Quaerat dolorem esse ea, veritatis corrupti quod recusandae at sapiente praesentium maiores quam nam, provident reiciendis, accusamus ex.
        Repellat corporis quod earum vero obcaecati aliquid doloremque possimus sit quam nobis qui sequi, eaque esse id ducimus dicta molestiae voluptatibus, cumque ut pariatur ipsam atque vel. Iste, laboriosam ut.
        Quas, repellendus commodi error esse ea debitis modi odio sapiente cupiditate tenetur quibusdam itaque. Beatae non natus tempore molestias laudantium aperiam? Impedit at et vitae officia libero nostrum consequuntur perferendis!
        Beatae, ipsa esse asperiores nemo porro culpa? Veritatis unde nihil, eius quasi voluptatum, soluta velit numquam laudantium rem, placeat natus aspernatur quas inventore dicta aut dolore quia quidem quo recusandae!
        Pariatur fugit reiciendis velit. Quis asperiores, sequi ipsam molestias iusto debitis recusandae quibusdam blanditiis tempore perferendis, ipsum nihil amet impedit est harum minima eius alias! Minus incidunt illo libero quibusdam?
        Quisquam repudiandae accusamus minus dolor officia. Doloremque, amet voluptas. Aliquid tempore cupiditate sequi adipisci! Nemo eaque iusto, doloremque tenetur ut, excepturi adipisci officia atque id sapiente, facilis aliquid hic eius!
        Possimus magnam ad doloribus totam facere hic minus, maxime adipisci minima incidunt similique delectus quia distinctio libero culpa enim! Corporis soluta ab maxime amet possimus aspernatur esse illo ratione numquam.
        Voluptates, impedit? Ex, consequatur! Unde tempore at distinctio nulla sequi quos asperiores ipsam soluta, rerum consequatur. Unde nisi ipsam suscipit quidem, perspiciatis at, quae labore facilis deleniti cum, quam neque.
        Repellendus, recusandae? Assumenda nulla molestias quasi tenetur enim aspernatur explicabo consequuntur veritatis eius modi numquam laborum, nam similique, id doloribus doloremque repellendus ex corporis at repellat consectetur expedita? Neque, maiores?
        Error saepe aliquid, perferendis reprehenderit placeat rem quisquam quas nesciunt, veniam ducimus vel nobis eos iusto exercitationem dolores aliquam ea unde nisi neque et necessitatibus voluptatibus explicabo maxime! Deleniti, quisquam?
        Veniam accusamus voluptatibus dolore, ipsam laborum, quo doloribus suscipit officia nam harum iusto officiis quia temporibus, totam vero beatae? Accusamus suscipit doloribus ullam obcaecati aliquam autem quasi assumenda tempore nobis!
        Cumque voluptatibus vel aliquam deleniti explicabo quae sunt quasi velit saepe, veniam, impedit quisquam, fugit perspiciatis incidunt tenetur corporis ullam sapiente! Animi laudantium exercitationem dolor nisi nam dolores distinctio quis?
        Amet ipsam ut tempora animi, pariatur voluptas natus nulla nesciunt consectetur iusto esse dolorum laborum maiores a maxime perferendis debitis? Ipsum, quibusdam itaque. Vel dolore cupiditate in aspernatur? Eligendi, eum!
        Dignissimos odit facere maiores ipsum dolores! Architecto consequatur adipisci consequuntur, dolore nostrum optio, earum soluta enim sint aliquam officia facilis vero? Labore inventore unde id maiores blanditiis quo, saepe eius!
        Suscipit hic, laboriosam ipsam dicta neque deleniti reprehenderit eveniet delectus obcaecati. Facere possimus esse explicabo sapiente id corrupti saepe, tenetur quod minima dolorem magnam aperiam officia minus nam neque architecto!
    </p>
</body>
</html>